RewriteEngine On
RewriteBase /

# LIST ARTIKEL
RewriteRule ^artikel/?$ public/pages/artikel.php [L]

# SINGLE ARTIKEL
RewriteRule ^artikel/([a-zA-Z0-9-]+)/?$ public/pages/artikel-single.php?slug=$1 [L,QSA]


# Hilangkan .html & .php di URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^\.]+)$ $1.html [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [L]

# Redirect dari .html ke tanpa ekstensi (biar SEO clean)
RewriteCond %{THE_REQUEST} \s([^.]+)\.html [NC]
RewriteRule ^ %1 [R=301,L]

RewriteCond %{THE_REQUEST} \s([^.]+)\.php [NC]
RewriteRule ^ %1 [R=301,L]